// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2021 Ideas on Board Oy
 */

/dts-v1/;
/plugin/;

&i2c3 {
	status = "okay";

	vc_ctrl: controller@10 {
		compatible = "vision-components,mipi-module";
		reg = <0x10>;
		#clock-cells = <0>;
		vcc-supply = <&reg_3p3v>;
		clock-frequency = <54000000>;
	};

	camera@1a {
		compatible = "sony,imx296ll";
		reg = <0x1a>;

		clocks = <&vc_ctrl>;
		clock-names = "inck";

		vddd-supply = <&vc_ctrl>;

		orientation = <1>;	/* Back */
		rotation = <0>;

		port {
			imx296_out: endpoint {
				data-lanes = <1>;
				remote-endpoint = <&mipi_csi0_ep>;
			};
		};
	};
};

&isi_0 {
	status = "okay";
};

&mipi_csi_0 {
	status = "okay";

	ports {
		port@0 {
			mipi_csi0_ep: endpoint {
				remote-endpoint = <&imx296_out>;
				data-lanes = <1>;
			};
		};
	};
};
