// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2020-2021 Variscite Ltd.
 * Copyright 2023 Ideas on Board Oy
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "imx8mp-pinfunc.h"

&{/} {
	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 1000000 0>;
	};

	panel {
		compatible = "sgd,gktw70sdae4se", "panel-lvds";
		backlight = <&backlight>;
		width-mm = <153>;
		height-mm = <87>;
		label = "gktw70sdae4se";
		data-mapping = "jeida-24";

		panel-timing {
			clock-frequency = <29232000>;
			hactive = <800>;
			vactive = <480>;
			hback-porch = <40>;
			hfront-porch = <40>;
			vback-porch = <29>;
			vfront-porch = <13>;
			hsync-len = <48>;
			vsync-len = <3>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
		};

		port {
			panel_in: endpoint {
				remote-endpoint = <&ldb_lvds_ch0>;
			};
		};
	};
};

&i2c2 {
	touch@38 {
		compatible = "edt,edt-ft5206";
		reg = <0x38>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_captouch>;

		reset-gpios = <&gpio_exp_2 4 GPIO_ACTIVE_LOW>;
		interrupt-parent = <&gpio1>;
		interrupts = <14 IRQ_TYPE_EDGE_FALLING>;
		wakeup-source;

		touchscreen-size-x = <800>;
		touchscreen-size-y = <480>;
		touchscreen-inverted-x;
		touchscreen-inverted-y;
	};
};

&lcdif2 {
	/*
	 * The pixel clock should be configured by the lcdif driver, but the
	 * clock frequency propagation in the clock framework stops at the PIX2
	 * clock and doesn't reach the VIDEO_PLL1 clock. As a workaround, set
	 * the VIDEO_PLL1 rate manually.
	 *
	 * For a 60Hz refresh rate, the panel requires a pixel clock of 29.232
	 * MHz. The LVDS clock frequency is 7 times higher, or 204.624 MHz.
	 */
	assigned-clock-rates = <0>, <204624000>;
	status = "okay";
};

&ldb_lvds_ch0 {
	remote-endpoint = <&panel_in>;
};

&lvds_bridge {
	status = "okay";
};

&iomuxc {
	pinctrl_captouch: captouchgrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO14__GPIO1_IO14				0x16
		>;
	};
};
